.SubScenario {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SubScenario_overlay {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.4);
}

.SubScenario_dialog {
    z-index: 550;  /* Higher than overlay */
    width: 450px;
    padding: 20px 20px 20px 40px;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.SubScenario_dialog-heading {
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.6px;
    color: #333333;
    order: 0;
    margin-bottom: 5px;
}

.SubScenario_input {
    display: block;
    width: 270px;
    height: 35px; 
    padding: 6px 8px;
    margin-top: 4px;
    background: #ffffff;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 15px;
    color: #333333;
    cursor: pointer;
}

.Submodel_select select{
    width: 250px;
    height: 30px;
    border: 1px solid var(--medium-grey);
    font-size: 16px;
    font-family: open_sans_medium, sans-serif;
    color: var(--dark-grey);
    border-radius: 2px;
    padding-left: 4px;
}

.SubScenario_btn {
    background-color: var(--turqoise-dark);
    color: var(--white-basic);
    border: 1px solid var(--turqoise-dark);
    border-radius: 2px;
    margin-top: 12px;
    margin-right: 10px;
    height: 35px;
    font-size: 15px;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: -0.5px;
    font-weight: 350;
}

.SubScenario_label {
  margin-top: 15px;
}

.SubScenario_input_with_reset label{
    display: inline-block;
    margin-right: 5px;
}

.SubScenario_buttons {
    display: inline;
}

.SubScenario_buttons :disabled{
    background-color: var(--medium-grey);
    border-color: var(--dark-grey);
}


.SubScenario_dialog-controls {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 17px;
    right: 22px;
    background-color: #ffffff;
    background-image: url('../close-large.png');
    background-repeat: no-repeat;
}

.SubScenario_error {
    display: table;
    margin: 0;
    color: #801a00;
    font-size: 0.95em;
    font-style: italic;
    line-height: 1.5em;
}

.SubScenario__hidden-input {
    display: none;
}