@font-face {
    font-family: open_sans_medium;
    src: url(OpenSans-Medium.ttf);
}

@font-face {
    font-family: open_sans_semi_bold;
    src: url(OpenSans-SemiBold.ttf);
}

:root {
    --turqoise-dark: #026273;
    --turqoise-medium:#018285;
    --pale-grey: #f2f2f2;
    --light-grey: #CCCCCC;
    --medium-grey: #888888;
    --dark-grey: #666666;
    --white-basic: #ffffff;
    --light-yellow: #FFFBE5;
    --pale-yellow: #fcfaf2;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--white-basic);
    font-size: 15px;
    font-family: open_sans_medium, sans-serif;
}

.semi_bold{
    font-family: open_sans_semi_bold;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--turqoise-dark);
    color: var(--white-basic);
    border: 1px solid var(--turqoise-dark);
    height: 44px;
    padding: 0 26px;
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: -0.5px;
    font-weight: 350;
}

button:hover {
    color: #000000;
}

input {
    font-family: inherit;
    font-size: inherit;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 0 0.25em;
}

input[type="checkbox"] {
    background: #FFFFFF;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin: 0;
}

hr {
    border-top: 1px solid black;
    border-bottom: none;
}

.App {
    width: 100%;
    height: 100%;
}

.App--busy {
    cursor: progress;
}
.App--busy button {
    cursor: progress;
}

.App__settings {
    z-index: 900;
    position: absolute;
    width: 100%;
    height: 100%;
}

.App__loading {
    position: absolute;
    width: 100%;
    height: 100%;
}

ul li {
    display:inline-block;
    vertical-align: top;
}

.App__settings-menu {
    position: absolute;
    top: 90px;
    left: 240px;
}
.App__settings_modify{
    margin-top: 3px;
}

.App__settings_select{
    margin-top: 0px;
    padding-top: 0px;
}

.App__settings_select select{
    color: var(--turqoise-dark);
    border-color: var(--turqoise-medium);
    border-radius: 2px;
    font-size: 14px;
    vertical-align: top;
    font-family: open_sans_medium, sans-serif;
}

.App__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    background-color: var(--white-basic);
    background-image: url('trafi_cyan_arch.png');
    background-size: auto 80px;
    background-position: right;
    background-repeat: no-repeat, no-repeat;
    font-size: 24px;
    padding: 0 0 0 85px;
    font-weight: normal;
    letter-spacing: -0.02em;
    border-bottom: 1px solid var(--light-grey);
}

.App__delete_setting {
    margin-left: 15px;
    display: inline-block;
    width: 16px;
    height: 19px;
    background-image: url('trash.png');
    background-repeat: no-repeat;
}

.App__open-settings {
    display: inline-block;
    width: 20px;
    height: 19px;
    margin-left: 20px;
    margin-top: 2px;
    background-color: var(--white-basic);
    background-image: url('Edit.png');
    background-repeat: no-repeat;
}

.App__header-title {
}


.App__header-version {
    padding-left: 10px;
    color: var(--light-grey);
    font-size: 10px;
    line-height: 11px;
}

.App__body {
}

.header-documentation-link {
    margin-top: .4rem;
    margin-left: 2rem;
}

.header-documentation-link:hover {
    cursor: pointer;
}

.settings_disabled {
    filter: grayscale(70%);
    opacity: 0.5;
}